apiVersion: v1
kind: Service
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  name: sl-demo-app
  namespace: {{.Values.metadata.individual_namespace}}
spec:
  ports:
    - name: http
      port: 8080
  selector:
    app: sl-demo-app